<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo</title>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <div class="todo">
      <form action="/" method="post" >
        <input type="text" name="todo" placeholder="Add a todo..." />
        <button type="submit" placeholder="Add todo">Add todo</button>
      </form>
    </div>

    <div class="tasks">

    <ul>
      {{ #todos }}
        <li><button type="submit" placeholder="Mark complete">Mark complete</button><p>{{.}}</p></li>
      {{ /todos }}
    </ul>

    </div>

    <div class="completed tasks">
        <h4>Completed Task</h4>
      <ul>
         {{#comptodos}}
          <li>  {{.}}  </li>
         {{/comptodos}}
      </ul>
    </div>





  </body>
</html>
